In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import geopandas as gpd
import censusdata
import censusdata
import geopandas as gpd

In [2]:
census = pd.read_csv("data/Census data.csv")
crimes = pd.read_csv("data/crimes.csv")
cta = pd.read_csv("data/cta_dist.csv")
sales = pd.read_csv("data/sales_gdf.csv")

In [3]:
census.head()

,GEO_ID,Year,Total Population,Median Age,Median HH Income,Total Housing Units,Median Number of Rooms,Median Year Built,Median Gross Rent,Mean HH Size,Percent White,Percent Black,Percent HH with Children,Percent Housing Vacant,geo_12,Number of Public Schools
0,1500000US170310302003,2013,1064.0,40.7,160893.0,450.0,7.3,1939.0,963.0,2.60,0.916353,0.000000,0.604348,0.088889,170310302003,0.0
1,1500000US170310302004,2013,1828.0,26.7,60568.0,711.0,5.1,1939.0,1150.0,2.54,0.818381,0.085339,0.638060,0.000000,170310302004,1.0
2,1500000US170310303001,2013,1306.0,36.1,28621.0,747.0,4.1,1945.0,868.0,2.04,0.556662,0.231240,0.665072,0.143240,170310303001,0.0
3,1500000US170310303002,2013,1625.0,35.7,38257.0,801.0,4.1,1943.0,838.0,2.22,0.700308,0.047385,0.524590,0.084894,170310303002,0.0
4,1500000US170310304001,2013,1450.0,36.0,26875.0,877.0,4.1,1961.0,732.0,1.85,0.693793,0.133793,0.427673,0.104903,170310304001,0.0

In [4]:
crimes = crimes.rename(columns={"geo_id": "GEO_ID", "year": "Year"})
crimes = crimes[['GEO_ID', 'Year', 'crime_count', 'total_pop', 'crimes_per_capita']]
crimes.head()

                  GEO_ID  Year  crime_count  total_pop  crimes_per_capita
0  1500000US170310101001  2013          486     251586           0.001932
1  1500000US170310101001  2014          456     236056           0.001932
2  1500000US170310101001  2015          546     282646           0.001932
3  1500000US170310101001  2016          366     189466           0.001932
4  1500000US170310101001  2017          474     245374           0.001932

In [5]:
cta = cta.rename(columns={"geo_id": "GEO_ID"})
cta = cta[['GEO_ID', 'stop_id', 'station_name', 'distance_miles']]
cta.head()

                  GEO_ID  stop_id   station_name  distance_miles
0  1500000US170318418001    30140  Cottage Grove        0.537042
1  1500000US170312518001    30136        Laramie        0.113297
2  1500000US170316604003    30220         Kedzie        0.350314
3  1500000US170315102002    30089  95th/Dan Ryan        4.226759
4  1500000US170316718001    30057   Ashland/63rd        0.560197

In [6]:
sales = sales.rename(columns={"sale_year": "Year"})

In [7]:
df = sales.merge(census, on=["GEO_ID", "Year"], how='left')

In [8]:
df.shape

(218374, 32)

In [9]:
sales.shape

(218374, 18)

In [10]:
census.shape

(24506, 16)

In [11]:
df = df.merge(crimes, on=["GEO_ID", "Year"], how='left')

In [12]:
df.shape

(218374, 35)

In [13]:
sales.shape

(218374, 18)

In [14]:
crimes.shape

(15234, 5)

In [15]:
df = df.merge(cta, on=["GEO_ID"], how='left')

In [16]:
df.shape

(218374, 38)

In [17]:
sales.shape

(218374, 18)

In [18]:
cta.shape

(2187, 4)

In [19]:
df.head()

,pin,sale_price,Year,est_land,est_bldg,age,addr,centroid_x,centroid_y,bldg_sf,...,Percent HH with Children,Percent Housing Vacant,geo_12,Number of Public Schools,crime_count,total_pop,crimes_per_capita,stop_id,station_name,distance_miles
0,17273100931118,53000.0,2015,9180,14870,44,2921 S MICHIGAN AVE,-87.622577,41.840229,NaN,...,0.265432,0.111835,1.703184e+11,1.0,1254.0,1598641.0,0.000784,30382.0,Cermak-McCormick Place,0.213983
1,17343220150000,410000.0,2018,96250,237350,130,3819 S WABASH AVE,-87.624368,41.824955,5050.0,...,0.433090,0.062945,1.703135e+11,1.0,1776.0,3018904.0,0.000588,30214.0,35th-Bronzeville-IIT,0.183507
2,17341030641004,250000.0,2019,22500,186210,11,223 E 31ST ST,-87.620801,41.838154,NaN,...,NaN,NaN,NaN,NaN,480.0,459360.0,0.001045,30214.0,35th-Bronzeville-IIT,0.303191
3,17343101361002,174900.0,2018,17420,109140,12,3552 S GILES AVE,-87.619647,41.829557,NaN,...,0.187919,0.360335,1.703184e+11,3.0,1146.0,1078768.0,0.001062,30214.0,35th-Bronzeville-IIT,0.450940
4,17334230234016,114218.0,2017,6840,75590,7,3506 S STATE ST,-87.627133,41.830734,NaN,...,0.525000,0.086758,1.703135e+11,0.0,450.0,218175.0,0.002063,30214.0,35th-Bronzeville-IIT,0.088796

In [20]:
df.to_csv('data/Full Data.csv', index=False)